<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title ThreeJS Playground
    link(rel="stylesheet", href="style.styl")
  body
    main(id="scene")
    video(id="videoa" loop crossOrigin="anonymous" webkit-playsinline style="display:none")
      source(src="videos/water.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
    video(id="videob" loop crossOrigin="anonymous" webkit-playsinline style="display:none")
      source(src="videos/caustics.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
    video(id="videoc" loop crossOrigin="anonymous" webkit-playsinline style="display:none")
      source(src="videos/caustics1.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
    script(src="app.js")